@import url('controls.css');
@import url('mirror.css');

body {
  display: inline-block;
  font-family: 'Century Gothic';
}

#title, #app {
  padding: 10px;

  border: 2px solid gray;
}

#title {
  font-size: 25px;
  text-align: center;

  border-bottom-width: 0px;
}
